--- Python ---

pycache/
*.py[cod]
*$py.class
venv/
env/
.env

--- Wazuh Sensitive Data ---

*.pem
*.key
*.p12
wazuh-certificates.tar
wazuh-certificates/
indexer/internal_users.yml
manager/filebeat.yml

--- Logs & Reports ---

.log
reports/.pdf
reports/*.json
logs/

--- IDE & OS ---

.vscode/
.idea/
.DS_Store
Thumbs.db
